@media screen and (max-width: 1470px) {
    .main-logo img {
        width: 600px;
    }
    .couteiner{
        overflow: hidden;
    }
    .couteiner-main{
        display: flex;
        width: 100%;
        height: auto;
    }
    .block-arrow{
        display: none;
    }
}

@media screen and (max-width: 1360px) {
    .disk-block{
        display: none;
    }
}
@media screen and (max-width: 1230px) {
    .name{
        font-size: 120px;
        top: 130px;
    }
    .last-name{
        font-size: 120px;
        bottom: 130px;
    }
    .nb-down__abt-list{
        font-size: 14px;
        width: 30%;
    }
}
@media screen and (max-width: 1150px) {
    .main-logo img {
        width: 450px;
    }
    .nb-up, .nb-down{
        display: none;
    }
    .m-menu-link{
        display: block;
    }
    .name{
        font-size: 100px;
        top: 200px;
    }
    .last-name{
        font-size: 100px;
        bottom: 200px;
    }
    .infodiv:nth-child(1){
            font-size: 22px;
            margin-bottom: 20px;
        }
    .info>div:nth-child(2){
            font-size: 16px;
        }
    }
    @media screen and (max-width: 940px) {
        .name{
            font-size: 80px;
            top: 200px;
        }
        .last-name{
            font-size: 80px;
            bottom: 200px;
        }
        .infodiv:nth-child(1){
                font-size: 20px;
                margin-bottom: 20px;
            }
        .info>div:nth-child(2){
                font-size: 14px;
            }
            .couteiner{
                background: url(firstBackground.png);
                height: 100vh;
            }
        
    }
    @media screen and (max-width: 860px) {
        .info{
            display: none;
        }
    }
    @media screen and (max-width: 790px) {
        .main-logo img{
            width: 300px;
        }
        .name{
            font-size: 50px;
            top: 300px;
        }
        .last-name{
            font-size: 50px;
            bottom: 300px;
        }
    }
    @media screen and (max-width: 600px) {
        .m-menu{
            padding: 10px 0px;
        }
        .name{
            font-size: 35px;
            top: 300px;
            left: 30px;
            animation-name: name;
            animation-timing-function: linear;
        }
        .last-name{
            font-size: 35px;
            bottom: 310px;
            right: 20px;
            animation-name: lastName;
            animation-timing-function: linear;
            }
        }
        @keyframes name {
            0%{
                left: 0px;
                opacity: 0;
            }
            100%{
                left: 30px;
                opacity: 1;
            }
        }
        @keyframes lastName {
            0%{
                right: 0px;
                opacity: 0;
            }
            100%{
                right: 20px;
                opacity: 1;
            }
    }

    @media screen and (max-width: 400px) {
        .m-menu{
            padding: 10px 0px;
        }
        .name{
            font-size: 25px;
            top: 300px;
            left: 30px;
            animation-name: name;
            animation-timing-function: linear;
        }
        .last-name{
            font-size: 25px;
            bottom: 310px;
            right: 0px;
            animation-name: lastName;
            animation-timing-function: linear;
            }
        }
        @keyframes name {
            0%{
                left: 0px;
                opacity: 0;
            }
            100%{
                left: 30px;
                opacity: 1;
            }
        }
        @keyframes lastName {
            0%{
                right: 0px;
                opacity: 0;
            }
            100%{
                right: 0px;
                opacity: 1;
            }
    }